.divScroll {
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    resize: vertical;
    height: 300px;
    min-height: 100px;
    max-height: 500px;
    width:80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFACD;
}

.closeButton {
	text-align:center;
}

.generalDescription {
    /*text-align: justify;*/
    margin:auto;
    padding:0 10px;
    max-width:600px;
}

.pt14 {
    font-size: 14pt;
}

.pt13 {
    font-size: 13pt;
}

dl {
	font-size:16px;
}

dt {
    background-color: #ddd;
    font-weight: normal;
    margin: 35px 0 15px;
}

dd {
    margin-bottom: 10px;
}

#lesson-buttons {
	margin-top: 30px;
}

#announcements {
	font-size: 16px;
}

.announcement-read a.ui-collapsible-heading-toggle {
    background-color: #e6e6f6 !important;
    border-color: #ddd !important;
    color: #333 !important;
    text-shadow: 0 1px 0 #f3f3f3;
}


.float_right {
    float : right;
}

.popup_login_window {
    padding : 20px 20px;
}
   
